body {
  margin-left: 25px;
  margin-right: 25px;
  display: grid;
  background-image: url('../images/strange_bullseyes/strange_bullseyes_@2X.png');
}

.jumbotron {
  height: 220px;
}

#evilInside, #evilDude {
  float: right;
}

#evilInside {
  margin-right: -75px;
}

#instructions {
  font-size: 20px;
  font-weight: normal;
  text-align: center;
}

#playersRow {
  display: inline-block;
  margin: auto;
}

#chosenOne {
  float: left;
  margin-right: 40px;
}

#evilOne {
  float: right;
  margin-left: 40px;
}

#playersTag {
  margin-left: 10px;
}

h1 {
  text-align: center;
}

.player, .mugShot {
  border: 1px solid grey;
}

.player {
  width: 25%;
}

.mugShot {
  margin-left: -5px;
}

#attack {
  text-align: center;
}

#evilDoers {
  float: right;
  display: inline;
  /* display: grid; */
}

#badGuys {
  font-size: 20px;
  font-weight: normal;
  display: block;
  text-align: center;
}

#chosenTitle, #evilInside {
  display: inline;
}

#evilTitle {
  display: inline-block;
}

button {
  width: 200px;
  height: 50px;
  font-size: 24px;
}

upNext {
  display: block;
  float: right;
}

#winnerMssg {
  text-align: center;
  font-size: 54px;
}

footer {
  background-color: grey;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
}
